/* limpar configurações padrões */
*{
	margin: 0;
	padding: 0;
}

body{
	background: #E9FCDE;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	font-size: 1em;
}

/* layout */
#cabecalho{
	background: #298B09; /*#3C6A20*/
	text-align: center;
	padding: 10px;
}

#logo, #menu{
	padding: 10px;
}

#area-principal{
	width: 920px;
	margin: 0 auto;
	padding: 15px;
}

#area-postagens{
	width: 660px;
	float: left;
}

#area-lateral{
	width: 240px;
	float: right;
}

#rodape{
	clear: both;
	background: #298B09;
	border-radius: 10px;
	text-align: center;
	padding: 15px;
	color: #FB9005;
}

.postagem{
	background: white;
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 10px;
}

.img-postagem{
	width: 620px;
	border-radius: 10px;
}

.conteudo-lateral{
	background: white;
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 20px;
}

.postagem-lateral{
	font-size: 0.8em;
	padding: 5px;
	border-bottom: 1px solid #90C9A2;
}

/* geral */
h1{
	color: #FB9005;
	font-size: 2.5em;	
}

h2{
	color: #298B09;
} 

h3{
	padding: 5px;
	background: #298B09;
	color: white;
	border-radius: 10px;
}

.branco{
	color: white;
}

.data-postagem{
	font-size: 0.8em;
	border-bottom: 1px solid #90C9A2;
	display: block;
	padding-bottom: 10px;
	margin-bottom: 10px;
	color: #FB9005;
}

/* links */
a{
	text-decoration: none;
}
a:link, a:visited{
	color: #FB9005;
}

a:hover{
	text-decoration: underline;
}

/* menu */
#cabecalho a:link, #cabecalho a:visited{
	color: #FB9005;
	padding: 8px 12px;
}

#cabecalho a:hover{
	text-decoration: none;
	color: white;
	background: #FB9005;
	border-radius: 20px;
}